# Node
node_modules

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Cspell
.cspellcache

# Eslint
.eslintcache

# Next
.next
.swc

# Env Files
.env

# Generated API Schema
packages/api/schema.graphql

# Graphql Codegen Output
**/*/graphql/types.ts
**/*/graphql/introspection.json
**/*.generated.ts
**/*.generated.json
**/generated.ts

# API Build
dist

# Cypress
*.mp4
*.png
